<br>
<div style=text-align:center>
  <h2>
    My Friends App!
  </h2>
  <img width="50%" alt="IMG_4770.jpg" src="assets/img/IMG_4770.jpg">
  <br>
  <br>
</div>
<div class="col-md-4 offset-md-4">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="form-group">
      <label>Username:</label>
        <input
        type="text"
        id="nama"
        class="form-control"
        required
        ngModel
        #username="ngModel"
        (change)="log(username)"
        name="nama"
        />
        <div
          class="alert alert-danger"
          *ngIf="username.touched && !username.valid"
        >
          <div *ngIf="username.errors['required']">Nama Harus Diisi</div>
        </div>
    </div>
    <div class="form-group">
      <label>Password:</label>
        <input
        type="password"
        id="email"
        class="form-control"
        required
        ngModel
        #password="ngModel"
        (change)="log(password)"
        name="email"
        />
        <div
        class="alert alert-danger"
        *ngIf="password.touched && !password.valid"
        >
          <div *ngIf="password.errors['required']">PasswordHarus Diisi</div>
        </div>
    </div>
    <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-lg btn-block">
      Login
    </button>
    <br>
  </form>
</div>