<br>
  <h3 style=text-align:center> Contact Me</h3>
  <hr>
<div class="container">
  <div class="col-md-12">
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="nama">Nama</label>
        <input 
        (click) = "onNew()"
        formControlName="nama"
        id="nama"
        type="text"
        class="form-control"
        [(ngModel)]="inputModel.username"
        />
          <div
          *ngIf="form.get('nama').touched && form.get('nama').invalid"
          class="alert alert-danger"
          >
            Username is Required
          </div>
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input 
        formControlName="email"
        id="email"
        type="text"
        class="form-control"
        [(ngModel)]="inputModel.email"
        />
        <div
        *ngIf="email.touched && email.invalid"
        class="alert alert-danger"
        >
          <div *ngIf="email.errors.required">Email is Required</div>
          <div *ngIf="email.errors.email">/must be Email</div>
        </div>
      </div>
    </form>
    <form (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="message"> Your Message: </label>
        <textarea
        class="form-control"
        rows="5"
        id="message"
        [(ngModel)]="inputModel.pesan"
        name="message"
        ></textarea>
      </div>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
        button
      </button>
    </form>
    <tr *ngFor="let registration of inputData">
      <h3> {{registration.labelData}} </h3>
      <p> {{registration.labelName}} : {{registration.username}} </p>
      <p> {{registration.labelEmail}} : {{registration.email}} </p>
      <p> {{registration.labelMessage}} : {{registration.pesan}} </p>
    </tr>
  </div>
</div>