<br>
  <h3 style=text-align:center> Contact Me</h3>
  <hr>
<div class="container">
  <div class="col-md-12">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="form-group">
        <label for="nama">Your Name</label>
        <input
          type="text"
          id="nama"
          class="form-control"
          required
          minlength="3"
          maxlength="10"
          ngModel
          #firstName="ngModel"
          (change)="log(firstName)"
          name="nama"
        />
        <div
          class="alert alert-danger"
          *ngIf="firstName.touched && !firstName.valid"
        >
          <div *ngIf="firstName.errors['required']">Nama Harus Diisi</div>
          <div *ngIf="firstName.errors['minlength']">Nama Min 3 Kata</div>
        </div>
      </div>
      <div class="form-group">
          <label for="email">Your Email:</label>
          <input
            type="text"
            id="email"
            class="form-control"
            required
            email
            ngModel
            #emailUser="ngModel"
            (change)="log(emailUser)"
            name="email"
          />
          <div
            class="alert alert-danger"
            *ngIf="emailUser.touched && !emailUser.valid"
          >
            <div *ngIf="emailUser.errors['required']">Email Harus Diisi</div>
            <div *ngIf="emailUser.errors['email']">
              Harus Mengandung unsur email
            </div>
          </div>
        </div>
      <div class="form-group">
        <label for="comment"> Your Message: </label>
        <textarea
          class="form-control"
          rows="5"
          id="comment"
          ngModel
          name="comment"
        ></textarea>
      </div>
      <p>
        {{ form.value | json }}
      </p>
      <h4>Your Data</h4>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
        button
      </button>
    </form>
  </div>
</div>
