<!-- <div *ngIf="courses.length > 0">
  list of courses
</div>
<div *ngIf="courses.length == 0">
  no courses yet
</div> -->

<!-- percobaan kedua -->
<!-- <div *ngIf="courses.length > 0; else noCourses">
  list of courses
</div>
<ng-template #noCourses>
  no course yet
</ng-template> -->



<!-- percobaan ketiga -->
<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  list of course
</ng-template>

<ng-template #noCourses>
  no course yet
</ng-template> -->

<div hidden>
  list courses list
</div>
<div>
  no courses yet
</div>

<router-outlet></router-outlet>
