<br>
<hr>
<h3 style=text-align:center>Add a New Friends</h3>

<div class="container">
    <div class="col-md-8 offset-md-2">
    <form #form="ngForm" (ngSubmit)="submit(form.value)">
      <div class="form-group row">
        <label for="nama"class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input
          type="text"
          id="nama"
          class="form-control"
          required
          maxlength="20"
          minlength="3"
          ngModel
          #namaTeman="ngModel"
          (change)="log(namaTeman)"
          name="nama"
          />
          <div
            class="alert alert-danger"
            *ngIf="namaTeman.touched && !namaTeman.valid"
          >
            <div *ngIf="namaTeman.errors['required']">Nama Harus Diisi</div>
            <div *ngIf="namaTeman.errors['minlength']">Nama Min 3 Kata</div>
          </div>
        </div>
      </div>
      
      <div class="form-group row">
          <label for="email"class="col-sm-3 col-form-label">Email:</label>
          <div class="col-sm-9">
            <input
            type="text"
            id="email"
            class="form-control"
            required
            email
            ngModel
            #emailTeman="ngModel"
            (change)="log(emailTeman)"
            name="email"
            />
            <div
              class="alert alert-danger"
              *ngIf="emailTeman.touched && !emailTeman.valid"
            >
              <div *ngIf="emailTeman.errors['required']">Email Harus Diisi</div>
              <div *ngIf="emailTeman.errors['email']">
                Harus Mengandung unsur email
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="contact"class="col-sm-3 col-form-label">Contact No:</label>
          <div class="col-sm-9">
            <input
            type="text"
            id="contact"
            class="form-control"
            required
            minlength="11"
            maxlength="13"
            pattern='[0-9]+'
            ngModel
            #contactTeman="ngModel"
            (change)="log(contactTeman)"
            name="contact"
            />
            <div
              class="alert alert-danger"
              *ngIf="contactTeman.touched && !contactTeman.valid"
            >
              <div *ngIf="contactTeman.errors['required']">Nomor Harus Diisi</div>
              <div *ngIf="contactTeman.errors['minlength']">Nomor Lebih dari 10 Angka</div>
              <div *ngIf="contactTeman.errors['pattern']">
                Harus Berupa Angka
              </div>
            </div>
          </div>
        </div>
      <button type="submit" [disabled]="!form.valid" class="btn btn-success">
        Add Friends
      </button>
    </form>
  </div>
</div>

<br>
<h3 style=text-align:center>My Friends</h3>

<div class="container">
  <div class="col-md-8 offset-md-2">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friend of friends">
      <th scope="row">{{friend.id}}</th>
      <td>{{friend.name}}</td>
      <td>{{friend.email}}</td>
      <td>{{friend.contact}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>